.body {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.example {
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: 30px;
  justify-items: center;
}
