.back {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: auto;
}

.dialog {
  position: relative;
  border-radius: 6px;
  background-color: white;
  padding: 15px 30px 30px 30px;
  width: 45vw;
  max-width: 90vw;
  box-sizing: border-box;
  margin: 10vh 0px;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0px 15px;
}

.title {
  font-family: "Fredoka One", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 26px;
  color: #363434;
}

.close {
  font-family: "Fredoka One", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 20px;
  color: #363434;
  border: 0px;
  background-color: transparent;
}

.body {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  .back {
    align-items: flex-start;
  }
  .dialog {
    width: 90vw;
  }
}
