.miniboard {
  border-radius: 6px;
  background-color: transparent;
  border: 2px solid #c4c4c4;
  padding: 15px;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  box-sizing: border-box;
  justify-items: stretch;
  aspect-ratio: 1;
  height: 100%;
}

.minisquare {
  border-radius: 6px;
  background-color: transparent;
  border: 2px solid #c4c4c4;
  aspect-ratio: 1;
  min-width: 10px;
  min-height: 10px;
}

.selected {
  border-color: #b1b1b1;
  background-color: #e4e4e4;
}

@media only screen and (max-width: 600px) {
  .miniboard {
    min-height: 90px;
  }
}
