.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 30%;
  box-sizing: border-box;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow-y: auto;
  overflow-x: hidden;
}

.header {
  width: 100%;
  display: grid;
  grid-template-columns: 14px 1fr 14px;
  grid-template-rows: min-content;
  grid-template-areas: "i1 title i2";
  align-items: center;
  justify-items: center;
  padding: 15px;
  box-sizing: border-box;
  gap: 0px 15px;
}

.rules {
  grid-area: i2;
}

.stats {
  grid-area: i1;
}

@media only screen and (max-width: 600px) {
  .main {
    padding: 15px;
  }
}
